body {
  overflow: hidden;
  margin: 0;
}
canvas {
  // background: url(./bg.jpg);
  background-color: #f9e99e;
  background-repeat: no-repeat;
  background-position: center;
  // background-size: auto 100%;
  width: 100% !important;
  height: 100% !important;
}
.content {
  height: 100vh;
}
:global {
  .ant-tabs-content {
    height: 100%;
  }
}
